*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#notification-panel{
    position: relative;
    background-color: #F2F2F2;
    padding: 20px 20px 68px 20px;
    opacity:1;
}
.content-title{
    position: relative;
    float: left;
    margin-top: 3px;
    margin-left: 211px;
}
.button-got-it{
    position: relative;
    float: right;
    margin-top: 4px;
    margin-right: 345px;
    background-color: #017AC1;
    width: 81px;
    height: 38px;
    border-radius: 4px;
}
.button-got-it a {
    position: absolute;
    scroll-behavior: smooth;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    color: #ffff;
    font-weight: bold;
    top: 10px;
    left: 20px;
}
.text-cookies{
    font-size: 16px;
}
ins{
    text-decoration: none;
    font-size: 16px;
    color: #0D07FF;
    font-weight: bold;
}
#container{
    position: relative;
    background:  url("./asset/background-header.jpg");
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 20px;
    z-index: 1;
}
.site-title{
    text-align: center;
    z-index: 1;
}
.site-title h1 {
    margin-bottom: 17px;
}
.overlay {
    width: 100%;
    height: 100%;
    background: #001C57;
    opacity: .6;
    position: absolute;
}
.button-contact{
    position: relative;
    margin: auto;
    margin-top: 22px;
    width: 192px;
}
.button-contact p{
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    margin-top: 9px;
}
.button-contact p:hover, p:active{
    font-weight: bold;
    width: 175px;
    cursor: pointer;
    position: relative;
    border-style: none;
    background-color: #fff;
    color: #001c57db;
}

.highlight-panel{
    position: relative;
    background-color: #F2F2F2;
}
.title-panel{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
}
.title-panel h1{
    margin-bottom: 20px;
    color: #242D34;
}
.title-panel p {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #242d34e0;
    width: 585px;
}
.six-content{
    color: #242D34;
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-left: 28px;
}
.six-content h2{
    margin-bottom: 12px;
}
.six-content p{
    text-align: justify;
    font-size: 14px;
}
.six-content i{
    color: #001C57;
    margin-left: 210px;
}
.footer-section {
    position: relative;
    background-color: #050328;
    padding: 40px;
    z-index: -1;
}
.footer-section p{
    color: #fff;
    font-size: 14px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#newsletter-panel{
    position: absolute;
    width: 640px;
    top: 1125px;
    left: 2px;
    z-index: 1;
}
#newsletter-panel h2 {
    color: #fff;
}
#newsletter-panel p{
    color: #fff;
    margin-top: 10px;
    width: 565px;
    text-align: justify;
}
.email-subscribe{
    width: 68%;
}
form {
    border: 3px;
    background-color: #1a86c7cf;
  }
  .newsletter-container {
    padding: 20px;
  }
  
  .newsletter-container i {
    position: absolute;
    font-size: 15px;
    right: 11px;
    top: 7px;
  }
  
  input[type=text], input[type=submit] {
    margin: 8px 0;
    padding: 9px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
  }
  input[type=submit] {
    background-color: #FBA200;
    padding: 9px;
    border: none;
    margin-left: 16px;
    border-radius: 2px;
  }
  
  input[type=submit]:hover {
    opacity: 0.6;
  }
@media screen and (max-width: 600px) {
    #notification-panel {
        position: relative;
        width: 100%;
        padding: 25px 0px 15px 0px;
    }
    .content-title {
        float: none;
        margin-top: -8px;
        margin-left: 20px;
    }
    .text-cookies {
        width: calc(96% - 10px);
        font-size: 15px;
        text-align: justify;
    }
    ins {
        font-size: 13px;
    }
    .button-got-it {
        float: none;
        margin-top: 13px;
        margin-left: 20px;
        width: 60px;
        height: 34px;
    }
    .button-got-it a {
        font-size: 14px;
        top: 8px;
        left: 11px;
    }
    .title-panel p {
        width: 292px;
    }
    #container {
        height: 500px;
    }
    .title-panel h1 {
        font-size: 27px;
    }
    .title-panel p {
        width: 262px;
    }
    .site-title h1 {
        font-size: 21px;
        margin-bottom: 3px;
    }
    .six-content{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .icon-1{
        margin-left: -88px;
    }
    .icon-2{
        margin-left: -78px;
    }
    .icon-3{
        margin-left: -96px;
    }
    .icon-4{
        margin-left: -118px;
    }
    .icon-5{
        margin-left: -95px;
    }
    .icon-6{
        margin-left: -84px;
    }
    .section{
        display: flex;
        flex-direction: column;
        width: calc(85% - 15px);
        border-style: solid;
        border-color: #80808047;
        border-width: 2px;
        margin-bottom: 35px;
        padding: 18px;
        margin-left: 15px;
    }
    .description{
        font-size: 16px;
        width: 255px;
        margin-left: 36px;
        margin-top: 15px;
    }
    .newsletter-container i {
        font-size: 12px;
    }
    #newsletter-panel {
        position: absolute;
        width: 100%;
        top: 1940px;
        left: 0px;
    }
    #newsletter-panel h2 {
        font-size: 22px;
    }
    #newsletter-panel p {
        width: 100%;
        font-size: 14px;
    }
    input[type=text], input[type=submit] {
        width: 100%;
    }
    input[type=submit] {
        margin-left: -1px;
    }
}
@media screen and (min-width: 600px) {
    #notification-panel {
        padding: 20px 20px 74px 20px;
    }
    .content-title {
        margin-left: 58px;
    }
    .text-cookies {
        width: 470px;
        font-size: 16px;
    }
    ins {
        font-size: 15px;
    }
    .button-got-it {
        margin-top: 4px;
        margin-right: 100px;
    }
    .six-content{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
    }
    .section{
        display: flex;
        flex-wrap: wrap;
        width: calc(44% - 15px);
        border-style: solid;
        border-color: #80808047;
        border-width: 2px;
        margin-bottom: 35px;
        padding: 18px;
        margin-left: 15px;
    }
    .icon-1{
        margin-left: -12px;
    }
    .icon-2{
        margin-left: -2px;
    }
    .icon-3{
        margin-left: -17px;
    }
    .icon-4{
        margin-left: -40px;
    }
    .icon-5{
        margin-left: -12px;
    }
    .icon-6{
        margin-left: -4px;
    }
    #newsletter-panel {
        width: 100%;
        top: 1375px;
        left: 0px;
    }
    #newsletter-panel p {
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    #notification-panel {
        padding: 20px 20px 74px 20px;
    }
    .content-title {
        margin-left: 145px;
    }
    .text-cookies {
        width: 470px;
        font-size: 16px;
    }
    ins {
        font-size: 15px;
    }
    .button-got-it {
        margin-top: 4px;
        margin-right: 272px;
    }
    .six-content{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
    }
    .section{
        display: flex;
        flex-wrap: wrap;
        width: calc(44% - 15px);
        border-style: solid;
        border-color: #80808047;
        border-width: 2px;
        margin-bottom: 35px;
        padding: 18px;
        margin-left: 15px;
    }
    .icon-1{
        margin-left: -12px;
    }
    .icon-2{
        margin-left: -2px;
    }
    .icon-3{
        margin-left: -17px;
    }
    .icon-4{
        margin-left: -40px;
    }
    .icon-5{
        margin-left: -12px;
    }
    .icon-6{
        margin-left: -4px;
    }
    #newsletter-panel {
        width: 100%;
        top: 1315px;
        left: 0px;
    }
    #newsletter-panel p {
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .content-title {
        margin-left: 220px;
    }
    .text-cookies {
        width: 615px;
    }
    .button-got-it {
        margin-right: 293px;
    }
    .section{
        width: calc(29% - 7px);
    }
    #newsletter-panel {
        width: 640px;
        top: 1130px;
        left: 0px;
    }
    .icon-1{
        margin-left: 12px;
    }
    .icon-2{
        margin-left: 32px;
    }
    .icon-3{
        margin-left: 17px;
    }
    .icon-4{
        margin-left: -5px;
    }
    .icon-5{
        margin-left: 22px;
    }
    .icon-6{
        margin-left: 34px;
    }

}
@media screen and (min-width: 1535px) {
    .content-title {
        margin-left: 415px;
    }
    .button-got-it {
        margin-right: 518px;
    }
    .text-cookies {
        font-size: 17px;
    }
    .icon-1{
        margin-left: 138px;
    }
    .icon-2{
        margin-left: 152px;
    }
    .icon-3{
        margin-left: 135px;
    }
    .icon-4{
        margin-left: 112px;
    }
    .icon-5{
        margin-left: 142px;
    }
    .icon-6{
        margin-left: 151px;
    }
    #newsletter-panel {
        top: 1098px;
    }
}